[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->

  <!-- title -->
  <div class="container block">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title has-text-white">Who's in the Right?</h1>
        </div>
        <div class="level-item">
          <p class="control has-icons-right">
            <input
              class="input has-background-dark has-text-light"
              v-model="query_posts"
              placeholder="Search Post"
              @keyup="find_posts"
            />
            <span class="icon is-small is-right">
              <i class="fa fa-search has-text-light"></i>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- post options -->
  <div v-if="add_mode" class="container block">
    <div class="form">
      <!-- for textarea -->
      <div class="field">
        <textarea
          v-model="add_content"
          class="textarea has-background-dark has-text-light"
          placeholder="Insert post here..."
        ></textarea>
      </div>

      <!-- for buttons -->
      <div class="field">
        <div class="control">
          <input
            type="submit"
            @click="add_post"
            value="Post"
            class="button is-primary"
          />
          <input
            type="submit"
            @click="set_add_post(false)"
            value="Cancel"
            class="button is-warning"
          />
        </div>
      </div>
    </div>
  </div>
  <div v-else class="container block">
    <div class="form">
      <div class="field">
        <div class="control">
          <button
            type="submit"
            @click="set_add_post(true)"
            class="button is-primary"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- sort selecter -->
  <div class="container block">
    <div class="level">
      <div class="level-left">
        <div class="select">
          <select
            v-model="sort_option"
            class="has-background-dark has-text-light"
          >
            <option class="has-text-light">Most Recent</option>
            <option class="has-text-light">Most Upvotes</option>
            <option class="has-text-light">Most Downvotes</option>
            <option class="has-text-light">Most Votes</option>
            <option class="has-text-light">Most Controversial</option>
          </select>
        </div>
      </div>
      <div class="level-right">
        <div class="container block">
          <span @click="view_leaderboard" class="button is-warning">
            <i> Leaderboard</i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- posts -->
  <div v-for="r in rows" class="container block">
    <!-- post -->
    <div class="tile is-ancestor has-background-dark">
      <div class="tile is-vertical pr-6 py-5 is-parent">
        <!-- post text -->
        <div class="tile is-child has-text-white">
          <p>{{r.content}}</p>
        </div>

        <!-- post name -->
        <div class="tile is-child">
          <a @click="view_profile(r.username)" class="has-text-light">
            {{r.username}}</a
          >
        </div>

        <!-- buttons -->
        <div class="tile is-child">
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <!-- thumbs up (highlighted) -->
                <span
                  v-if="r.thumbs_up.includes(email)"
                  @click="upvote_post(r._idx)"
                  class="icon is-medium has-text-info"
                >
                  <i class="fas fa-thumbs-up fa-lg fa-flip-horizontal"></i>
                </span>
                <!-- thumbs up (un-highlighted) -->
                <span
                  v-else
                  @click="upvote_post(r._idx)"
                  class="icon is-medium has-text-info"
                >
                  <i class="far fa-thumbs-up fa-lg fa-flip-horizontal"></i>
                </span>

                <!-- blue count -->
                <span
                  v-if="r.thumbs_up.length > r.thumbs_down.length"
                  class="has-text-info"
                >
                  <div class="content">
                    {{`+${r.thumbs_up.length - r.thumbs_down.length}`}}
                  </div>
                </span>
                <!-- red count -->
                <span
                  v-else-if="r.thumbs_up.length < r.thumbs_down.length"
                  class="has-text-danger"
                >
                  <div class="content">
                    {{r.thumbs_up.length - r.thumbs_down.length}}
                  </div></span
                >
                <!-- grey count -->
                <span v-else class="has-text-light">
                  <div class="content">
                    {{r.thumbs_up.length - r.thumbs_down.length}}
                  </div>
                </span>

                <!-- thumbs down (highlighted)  -->
                <span
                  v-if="r.thumbs_down.includes(email)"
                  @click="downvote_post(r._idx)"
                  class="icon is-medium has-text-danger"
                >
                  <i class="fas fa-thumbs-down fa-lg"></i>
                </span>
                <!-- thumbs down (un-highlighted)  -->
                <span
                  v-else
                  @click="downvote_post(r._idx)"
                  class="icon is-medium has-text-danger"
                >
                  <i class="far fa-thumbs-down fa-lg"></i>
                </span>

                <span @click="view_comments(r.id)" class="has-text-success">
                  <i class="far fa-fw is-medium fa-comment fa-lg"></i>
                  <span
                    v-if="r.comment_count > 0"
                    class="content has-text-light"
                  >
                    {{`${r.comment_count} comment${r.comment_count == 1 ? '' :
                    's'}`}}</span
                  ></span
                >
              </div>
              <div class="level-item">
                <span class="content has-text-grey"
                  >{{r.display_datetime}}</span
                >
              </div>
            </div>
            <div v-if="r.author_email === email" class="level-right">
              <div class="level-item">
                <!-- trash button -->
                <span
                  @click="delete_post(r._idx)"
                  class="icon is-medium has-text-danger"
                >
                  <i class="fas fa-trash-alt fa-lg"></i>
                </span>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  //
  let load_posts_url = "[[=XML(load_posts_url)]]";
  let add_post_url = "[[=XML(add_post_url)]]";
  let delete_post_url = "[[=XML(delete_post_url)]]";
  let upvote_post_url = "[[=XML(upvote_post_url)]]";
  let downvote_post_url = "[[=XML(downvote_post_url)]]";
  let get_vote_names_url = "[[=XML(get_vote_names_url)]]";
  let find_posts_url = "[[=XML(find_posts_url)]]";
</script>
<script type="module" src="js/index.js"></script>
[[end]]
