[[extend "layout.html"]]
<style>
  [v-cloak] {
    display: none;
  }
  img {
    border-radius: 50%;
  }
</style>
<div class="section" id="vue-target" v-cloak>
  <div class="container block">
    <span @click="index" class="button is-danger">
      <i>Go Back</i>
    </span>
    <h1 class="title has-text-white">Leaderboard</h1>
    <div class="select">
      <select v-model="sort_option" class="has-background-dark has-text-light">
        <option class="has-text-light">Highest Average</option>
        <option class="has-text-light">Lowest Average</option>
      </select>
    </div>
  </div>

  <div class="container block">
    <table class="table is-striped is-narrow is-fullwidth has-background-dark">
      <tr>
        <th></th>
        <th class="has-text-light">Username</th>
        <th class="has-text-light">Average Rating</th>
        <th class="has-text-light">Reputation</th>
      </tr>
      <tr v-for="r in rows" class="has-background-dark">
        <td>
          <a @click="view_profile(r.username)">
            <img v-if="r.picture" width="42" alt="Avatar" :src="r.picture" />
            <img
              v-else
              width="42"
              alt="Avatar"
              src="https://storage.googleapis.com/witr-uploads/blank-profile-picture-973460_960_720.png"
            />
          </a>
        </td>
        <td>
          <a @click="view_profile(r.username)" class="has-text-light">
            {{r.username}}
          </a>
        </td>
        <td class="has-text-light">{{r.avg}}</td>
        <td class="has-text-light">{{r.reputation}}</td>
      </tr>
    </table>
  </div>
</div>

[[block page_scripts]]
<script>
  let load_view_leaderboard = "[[=XML(load_view_leaderboard)]]";
</script>
<script src="js/view_leaderboard.js"></script>
[[end]]
