[[extend 'layout.html']]
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
/>
<style>
  [v-cloak] {
    display: none;
  }
</style>

<div class="section" id="vue-target" v-cloak>
  <!-- sort selecter -->

  <div class="container block">
    <span @click="index" class="button is-danger">
      <i>Go Back</i>
    </span>
    <p class="content has-text-weight-bold has-text-white">Post</p>
  </div>

  <div class="container block">
    <!-- post -->
    <div class="tile is-ancestor has-background-light">
      <div class="tile is-vertical pr-6 py-5 is-parent">
        <!-- post text -->
        <div class="tile is-child">
          <p>{{post.content}}</p>
        </div>

        <!-- post name -->
        <div class="tile is-child">
          <a @click="view_profile(post.username)" class="has-text-grey">
            {{post.username}}</a
          >
        </div>

        <!-- buttons -->
        <div class="tile is-child">
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <span class="content has-text-grey"
                  >{{post.display_datetime}}</span
                >
              </div>
            </div>
            <div v-if="post.author_email === email" class="level-right">
              <div class="level-item">
                <!-- trash button -->
                <span
                  @click="delete_post()"
                  class="icon is-medium has-text-danger"
                >
                  <i class="fas fa-trash-alt fa-lg"></i>
                </span>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- likes and dislikes -->
  <div class="container block">
    <div class="tile is-ancestor">
      <div class="tile level is-tablet">
        <!-- thumbs up -->
        <div class="tile level-item">
          <!-- thumbs up is selected -->
          <div
            v-if="post.thumbs_up.includes(email)"
            @click="upvote_post()"
            class="tile notification has-background-info"
            style="
              border-style: solid;
              border-color: hsl(204, 86%, 53%);
              border-width: thin;
            "
          >
            <div class="tile">
              <div class="tile level is-mobile">
                <div class="level-left">
                  <div class="level-item is-parent">
                    <div class="tile icon is-medium is-child">
                      <i
                        class="
                          far
                          fa-thumbs-up
                          has-text-white
                          fa-flip-horizontal fa-2x
                        "
                        style="opacity: 0.66"
                      ></i>
                    </div>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item is-parent">
                    <p class="content has-text-light is-child">
                      {{`+${post.thumbs_up.length}`}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- thumbs up isn't selected -->
          <div
            v-else
            class="tile notification"
            @click="upvote_post()"
            style="
              border-style: solid;
              border-color: hsl(204, 86%, 53%);
              border-width: thin;
            "
          >
            <div class="tile">
              <div class="tile level is-mobile">
                <div class="level-left">
                  <div class="level-item is-parent">
                    <div class="tile icon is-medium is-child">
                      <i
                        class="
                          far
                          fa-thumbs-up
                          has-text-info
                          fa-flip-horizontal fa-2x
                        "
                        style="opacity: 0.66"
                      ></i>
                    </div>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item is-parent">
                    <p class="content has-text-info is-child">
                      {{`+${post.thumbs_up.length}`}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- counter -->
        <div class="tile level-item has-text-centered is-parent">
          <div class="tile is-child">
            <p class="title has-text-grey">
              <!-- blue count -->
              <span
                v-if="post.thumbs_up.length > post.thumbs_down.length"
                class="has-text-info"
              >
                {{`+${post.thumbs_up.length - post.thumbs_down.length}`}}
              </span>

              <!-- red count -->
              <span
                v-else-if="post.thumbs_up.length < post.thumbs_down.length"
                class="has-text-danger"
              >
                {{post.thumbs_up.length - post.thumbs_down.length}}
              </span>

              <!-- grey count -->
              <span v-else class="has-text-grey">
                {{post.thumbs_up.length - post.thumbs_down.length}}
              </span>
            </p>
          </div>
        </div>

        <!-- thumbs down -->
        <div class="tile level-item">
          <!-- thumbs down is selected -->
          <div
            class="tile notification has-background-danger"
            @click="downvote_post()"
            style="
              border-style: solid;
              border-color: hsl(348, 100%, 61%);
              border-width: thin;
            "
            v-if="post.thumbs_down.includes(email)"
          >
            <div class="tile">
              <div class="tile level is-mobile">
                <div class="level-left">
                  <div class="level-item is-parent">
                    <p class="content has-text-light is-child">
                      {{`-${post.thumbs_down.length}`}}
                    </p>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item is-parent">
                    <div class="tile icon is-medium is-child">
                      <i
                        class="far fa-thumbs-down has-text-white fa-2x"
                        style="opacity: 0.66"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- thumbs down isn't selected -->
          <div
            v-else
            class="tile notification"
            @click="downvote_post()"
            style="
              border-style: solid;
              border-color: hsl(348, 100%, 61%);
              border-width: thin;
            "
          >
            <div class="tile">
              <div class="tile level is-mobile">
                <div class="level-left">
                  <div class="level-item is-parent">
                    <p class="content has-text-light is-child has-text-danger">
                      {{`-${post.thumbs_down.length}`}}
                    </p>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item is-parent">
                    <div class="tile icon is-medium is-child">
                      <i
                        class="
                          far
                          fa-thumbs-down
                          has-text-white
                          fa-2x
                          has-text-danger
                        "
                        style="opacity: 0.66"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container block">
    <div class="form">
      <div class="field">
        <textarea
          v-model="add_content"
          class="textarea"
          placeholder="Insert comment here..."
        ></textarea>
      </div>
      <div class="field">
        <div class="control">
          <input
            type="submit"
            @click="add_comment"
            value="Submit"
            class="button is-primary"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container block">
    <div class="select">
      <select v-model="sort_option">
        <option>Most Recent</option>
        <option>Most Upvotes</option>
        <option>Most Downvotes</option>
        <option>Most Votes</option>
        <option>Most Controversial</option>
      </select>
    </div>
  </div>

  <div class="container block">
    <p class="content has-text-weight-bold has-text-white">Comments</p>
  </div>

  <div v-for="r in rows" class="container block">
    <!-- post -->
    <div class="tile is-ancestor has-background-light">
      <div class="tile is-vertical pr-6 py-5 is-parent">
        <!-- post text -->
        <div class="tile is-child">
          <p>{{r.content}}</p>
        </div>

        <!-- post name -->
        <div class="tile is-child">
          <a @click="view_profile(r.username)" class="has-text-grey">
            {{r.username}}</a
          >
        </div>

        <!-- buttons -->
        <div class="tile is-child">
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <!-- thumbs up (highlighted) -->
                <span
                  v-if="r.thumbs_up.includes(email)"
                  @click="upvote_comment(r._idx)"
                  class="icon is-medium has-text-info"
                >
                  <i class="fas fa-thumbs-up fa-lg fa-flip-horizontal"></i>
                </span>
                <!-- thumbs up (un-highlighted) -->
                <span
                  v-else
                  @click="upvote_comment(r._idx)"
                  class="icon is-medium has-text-info"
                >
                  <i class="far fa-thumbs-up fa-lg fa-flip-horizontal"></i>
                </span>

                <!-- blue count -->
                <span
                  v-if="r.thumbs_up.length > r.thumbs_down.length"
                  class="has-text-info"
                >
                  <div class="content">
                    {{`+${r.thumbs_up.length - r.thumbs_down.length}`}}
                  </div>
                </span>
                <!-- red count -->
                <span
                  v-else-if="r.thumbs_up.length < r.thumbs_down.length"
                  class="has-text-danger"
                >
                  <div class="content">
                    {{r.thumbs_up.length - r.thumbs_down.length}}
                  </div></span
                >
                <!-- grey count -->
                <span v-else class="has-text-grey">
                  <div class="content">
                    {{r.thumbs_up.length - r.thumbs_down.length}}
                  </div>
                </span>

                <!-- thumbs down (highlighted)  -->
                <span
                  v-if="r.thumbs_down.includes(email)"
                  @click="downvote_comment(r._idx)"
                  class="icon is-medium has-text-danger"
                >
                  <i class="fas fa-thumbs-down fa-lg"></i>
                </span>
                <!-- thumbs down (un-highlighted)  -->
                <span
                  v-else
                  @click="downvote_comment(r._idx)"
                  class="icon is-medium has-text-danger"
                >
                  <i class="far fa-thumbs-down fa-lg"></i>
                </span>
              </div>
              <div class="level-item">
                <span class="content has-text-grey"
                  >{{r.display_datetime}}</span
                >
              </div>
            </div>
            <div v-if="r.author_email === email" class="level-right">
              <div class="level-item">
                <!-- trash button -->
                <span
                  @click="delete_comment(r._idx)"
                  class="icon is-medium has-text-danger"
                >
                  <i class="fas fa-trash-alt fa-lg"></i>
                </span>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<script>
  let load_post_url = "[[=XML(load_post_url)]]";
  let delete_post_url = "[[=XML(delete_post_url)]]";
  let upvote_post_url = "[[=XML(upvote_post_url)]]";
  let downvote_post_url = "[[=XML(downvote_post_url)]]";
  let get_vote_names_url = "[[=XML(get_vote_names_url)]]";
  let load_comments_url = "[[=XML(load_comments_url)]]";
  let add_comment_url = "[[=XML(add_comment_url)]]";
  let delete_comment_url = "[[=XML(delete_comment_url)]]";
  let delete_all_comments_url = "[[=XML(delete_all_comments_url)]]";
  let upvote_comment_url = "[[=XML(upvote_comment_url)]]";
  let downvote_comment_url = "[[=XML(downvote_comment_url)]]";
</script>
<script src="js/view_comments.js"></script>
[[end]]
